# Composer dependencies
/vendor/

# Environment variables
.env
.env.local
.env.*.local

# Logs
/var/log/*
/var/logs/*
/var/cache/*
/var/tmp/*

# IDE files
/.idea/
/.vscode/

# Symfony specific
/public/bundles/
